.photo-grid {
    max-width: 1184px;
    margin: 92px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
  }
  
  @media screen and (max-width: 1024px) {
    .photo-grid{
      max-width: 100%;
      gap: 14px;
      margin: 92px 48px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .photo-grid{
      gap: 16px;
      margin: 88px 24px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .photo-grid{
      gap: 8px;
      margin: 64px 16px;
    }
  }