.footer__links{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    column-gap: 18px;
  }
  @media (max-width: 425px) {
    .footer__list-link {
      flex-direction: row;
      align-content: flex-start;
    }
  }