.lead__subtitle {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    max-width: 583px;
    margin: 0 0 0px;
  }
  
  @media screen and (max-width: 700px) {
    .lead__subtitle {
      max-width: 640px;
      margin: 0 0 0px;
      font-size: 16px;
      line-height: 20px;
    }
  }
  

  
  