.place {
    max-width: 984px;
    margin: 0 auto 72px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: minmax(69, 134) 1fr;
    column-gap: 40px;
    row-gap: 60px;
    grid-template-areas:
    "title url"
    "image paragraph";
  }
  
  
  @media screen and (max-width: 1024px) {
    .place {
      grid-template-columns: 440px 1fr;
      column-gap: 32px;
      row-gap: 40px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .place {
      grid-template-columns: 340px 1fr;
      column-gap: 28px;
      row-gap: 40px;
    }
  }
  
  @media screen and (max-width: 680px) {
    .place {
      grid-template-columns: 100%;
      grid-template-rows: 40px fit-content 1fr;
      grid-template-areas:
      "title"
      "url"
      "image"
      "paragraph";
      row-gap: 24px;
      margin-bottom: 48px;
    }
  }
  
  