.place__website-url{
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
text-decoration: none;
color: white;
transition: .3s ease-in-out;
}
  
.place__website-url:hover {
  opacity: .8;
}
  
  
  
  